@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --accent-color: #0F383E;
    --base-color: #346053;
    --text-color: #092526;
    --input-color: #F3F0FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Poppins', sans-serif;
    font-size: 12pt;
    color: var(--text-color);
    text-align: center;
}

body {
    min-height: 100vh;
    background: linear-gradient(135deg, #0F383E, #346053); /* Fondo degradado */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    background-color: var(--base-color);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 800px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 900;
    margin-bottom: 20px;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 1px solid #092526;
}

th {
    background-color: var(--accent-color);
    color: white;
}

td {
    background-color: var(--input-color);
    color: var(--text-color);
}

button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 20px;
    background-color: var(--accent-color);
    color: var(--input-color);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--text-color);
}

@media (max-width: 600px) {
    h1 {
        font-size: 2rem; /* Ajustar el tamaño del encabezado en pantallas más pequeñas */
    }
}
